﻿@{
    ViewData["Title"] = "Inicio";
}
<div class="" id="fondox"
    style="background-image: url(images/f1.png); width: 100%; background-repeat: no-repeat; background-size: cover; padding-bottom: 12% ;">
    <img class="overlay elemento" src="~/images/VIAJES1.png" alt="">
    <img class="overlay elemento2" style="margin-top: 0%;" src="~/images/tex2.png" alt="">
</div>

<div>
    <div style="border-top: 3px solid black; border-bottom: 3px solid black    ">
        <img class="" style="width: 100%;" src="~/images/texto1.png" alt="">
    </div>
                <div  id="carouselExampleDark" class="carousel carousel-light slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="2000">
                            <a asp-controller="Catalogo" asp-action="Index" asp-route-searchString="polo">
                            <img src="~/images/CAT1.png" class="d-block w-100" alt="...">
                            </a>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <a asp-controller="Catalogo" asp-action="Index" asp-route-searchString="camisa">
                            <img src="~/images/CAT2.png" class="d-block w-100" alt="...">
                            </a>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <a asp-controller="Catalogo" asp-action="Index" asp-route-searchString="pantalon">
                            <img src="~/images/CAT3.png" class="d-block w-100" alt="...">
                            </a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                        <span  class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span  class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon " aria-hidden="true"></span>
                        <span  class="visually-hidden">Next</span>
                    </button>
                </div>
</div>
<script>
    // Obtener el mensaje de ViewData
    
    var message = '@TempData["Message"]';

    if (message === 'n') {
      showNotification('☛Tiene que logearse primero☚');
    }

    function showNotification(message) {
      const notification = document.createElement('div');
      notification.classList.add('notification');
      notification.textContent = message;
      document.body.appendChild(notification);

      setTimeout(function() {
        fadeOutAndRemove(notification);
      }, 3000);
    }

    function fadeOutAndRemove(element) {
      element.style.animation = 'fade-out 0.5s ease-in-out forwards';
      element.style.opacity = '0';
 // Espera 0.5 segundos antes de eliminar el elemento
    }
  </script>