@{
    ViewData["Title"] = "NOSOTROS";
}

<h1>@ViewData["Title"]</h1>

<section class="about" id="about" >
    <h1 class="heading">  </h1>

    <div class="container">
        <div class="row align-items-center">
            <!-- Columna de Contenido -->
            
                <div class="content" style="justify-content: center;">
                    <h3>Agencia de viajes</h3>
                    <p>Viajes y aventuras alrededor del mundo. Nos dedicamos a ofrecer experiencias de viaje excepcionales, diseñadas para satisfacer todos tus deseos y necesidades de exploración. En La Facu Travel, celebramos la diversidad de destinos y culturas, y nos enorgullecemos de crear momentos únicos e inolvidables.</p>
                    <p>Estamos comprometidos a ser tu agencia de viajes de confianza, donde cada detalle importa y la satisfacción de nuestros viajeros es nuestra máxima prioridad. ¡Gracias por elegirnos para hacer realidad tus sueños de viaje!</p>
                </div>
            

            <!-- Columna de Imagen -->
           
                <div class="image text-center">
                    <img src="~/images/p1.png" alt="Nosotros" class="img-fluid rounded shadow">
                </div>
            
        </div>
    </div>
</section>
