@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmar correo";
}

<h1 style="display: flex; justify-content: center;">@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
