@page
@model RegisterModel
@{
    ViewData["Title"] = "Crear cuenta";
}
<style>
    body {
        background-image: url('https://www.clarin.com/2020/03/11/zZ5-zT85_360x240__1.jpg');
        background-size: cover;
        background-position: center;
    }

    .form-container {
        background-color: #3f59cc;
        padding: 20px; 
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(18, 22, 104, 0.2);
        width: 100%;
        max-width: 400px;
        position: relative; 
    }
</style>
<br></br>
<h1 class="text-center mb-6">@ViewData["Title"]</h1>

<div class="container d-flex justify-content-center align-items-center">
    <div class="form-container">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Correo electronico</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Ingrese su contraseña" />
                <label asp-for="Input.Password">Contraseña</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirme su contraseña" />
                <label asp-for="Input.ConfirmPassword">Confirmar contraseña</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registrese</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
